div {
    padding: 8px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 300%;
  }
  
  p {
    color: whitesmoke;
    text-align: justify;
    letter-spacing: 2px;
    text-align: center;
    font-size: 150%;
  }
  
  a { 
    text-align: center;
    font-size: 150%;
    text-transform:capitalize;
    text-align: center;
    text-align: justify;
    letter-spacing: 2px;
    color: whitesmoke;
  }
  
  h1.double {
    border-style: double;
  }

  form{
    text-align: center;
    font-size: 150%;
    text-transform:capitalize;
    text-align: center;
    text-align: justify;
    letter-spacing: 2px;
    color: whitesmoke;

  }
  
  label{
    text-align:center;
    line-height:150%;
    font-size:100%;
    letter-spacing: 2px;
    color: whitesmoke;
    display: block;
    margin: 0 auto;
  }
  
input{
  background-color:rgba(255, 0, 0, 0.300);
  border:style;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
}

  h1 {
    background-color: black;
    color:rgba(255, 0, 0, 0.500);
  }
  
  body {
    background-image: url("virus2.png");
    min-height: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  
  